


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
button{
  padding: 25px;
}

button:hover {
  background-position: center;
  background-image: url('https://static.wikia.nocookie.net/every-universe/images/7/7b/Naruto_Uzumaki_Kurama_01.png/revision/latest?cb=20170419081013');
}

.line-1{
  color: grey;
  background-color: ivory;
  align-items: center;
  margin: 1px;
}
.line-2{
  color: grey;
  background-color: ivory;
  align-items: center;
  margin: 1px;
  
}
.line-3{
  color: grey;
  background-color: ivory;
  align-items: center;
  margin: 1px;
}
.line-4{
  color: grey;
  background-color: ivory;
  align-items: center;
  margin: 1px;
}
